<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/content/css/chapter.css" rel="stylesheet" type="text/css">
    <link href="/content/css/fonts.css" rel="stylesheet" type="text/css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <title>Jef e Jeb - Capítulo <%- chapter %></title>
  </head>
  <body>
    <%- include('components/navbar') %>
    <section class="intro">
      <div>
        <h1>Capítulo <%- chapter %></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dignissim pulvinar ante. Maecenas ac vulputate nisl. Cras eu interdum dui. Fusce finibus fringilla pharetra. Phasellus condimentum diam at nulla viverra posuere. Praesent eu erat tellus. In convallis lectus lorem, ut egestas massa facilisis nec. Ut vitae mauris pharetra, tempus erat eget, laoreet elit. Phasellus feugiat mi ut magna viverra consectetur. Ut luctus ipsum ac turpis ultricies, ac ornare neque placerat. Mauris ac tincidunt tortor. Proin porta eu sem dapibus convallis. Proin ut massa volutpat, interdum mi ac, fermentum quam.</p>
        
        <% if (previous) { %> 
          <button type="button" class="btn btn-info"><a class="text-dark text-decoration-none" href="<%- `./${previous}` %>">ANTERIOR</a></button>
        <% } else { %>
          <button type="button" class="btn btn-info disabled"><a class="text-dark text-decoration-none" href="<%- `./${previous}` %>">ANTERIOR</a></button>
        <% } %>
      
        <% if (next) { %> 
          <button type="button" class="btn btn-info"><a class="text-dark text-decoration-none" href="<%- `./${next}` %>">PRÓXIMO</a></button>
        <% } else { %>
          <button type="button" class="btn btn-info disabled"><a class="text-dark text-decoration-none" href="<%- `./${next}` %>">PRÓXIMO</a></button>
        <% } %>
      </div>
      <div class="feedback">
        <div class="spinner-border counter" role="status">
          <span class="sr-only"></span>
        </div>
        <div class="counter hidden">
          <h1 id="likeCount">0</h1>
          <button id="likeButton" type="button" class="btn btn-link text-secondary"><i class="bi bi-heart"></i></button>
        </div>
        <div class="counter hidden">
          <h1>0</h1>
          <button id="viewButton" type="button" class="btn btn-link text-secondary"><i class="bi bi-eye"></i></button>
        </div>
      </div>
    </section>
  
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-firestore.js"></script>

    <script>
        var firebaseConfig = {
            apiKey: "AIzaSyD4u8UUzeeJblrdtt1QxqmQeGDrJEf9d_k",
            authDomain: "jefjeb-dev.firebaseapp.com",
            projectId: "jefjeb-dev",
            storageBucket: "jefjeb-dev.appspot.com",
            messagingSenderId: "606291928201",
            appId: "1:606291928201:web:49d34d56fe8708bcb61258",
            measurementId: "G-LYJ9EP1ZZ6"
        };
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();

        const auth = firebase.auth()
        const db = firebase.firestore()
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="../content/js/chapter.js" defer></script>
  </body>
</html>